<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학교생활공유</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
        body{
            font-family: 'Do Hyeon', sans-serif;
            text-align: left;
        }

    </style>

    <script type="text/javascript">
      function whatTimeIsIt(){
        alert(new Date());
      }
    </script>

</head>
<body>
    {% load static %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light container">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home'%}">학교생활공유</a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
              {% if not user.is_authenticated %}
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">회원가입</a>
              </li>

              {% endif %}

              
              {% if user.is_authenticated %}
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'new' %}">글 쓰기</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
              </li>

              {% endif %}
              
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  MODE
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><button class="btn btn-light" >Light Mode</button></li>
                  <li><button class="btn btn-dark" >Dark Mode</button></li>
                </ul>
              </li>
              {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <button onclick="whatTimeIsIt()">현재시간</button>
              </li>
            </ul>

          </div>
        </div>
      </nav>

      <div class="container">
          {% block content %}

          {% endblock %}
      </div>
</body>
</html>